<p>Welcome,   {{username}}</p>
<br /><br />
<div class = "container">
    <div *ngFor = "let post of getAllPosts()">
      <p>Post By:[ {{post.userID}} ]</p>
        <Button Type = "text" class = "btn btn-light buttonSize" (click) ="onComments(post.id)" >{{post.text}}</Button>
        <br /><br />
      
      


 
</div>
<body class="container">

        <form action="/form/submit" method="GET">
          <textarea [(ngModel)]="postfield" rows="7" cols="90" name="text" class = "textareacss"  placeholder="Type your Post "></textarea>
          <br />
          <input type="submit" class = "btn btn-primary" value="POST" (click) = "addPost()" />
          <br/>
        </form>
        <br /><br /><br />
      
    </body>
    