.post
{
    white-space:normal;
    width: 200px;
}
.buttonSize { 
    padding: 20px 300px;
    border:none

    } 
.textareacss
{
    border:0; 
    padding:10px; 
    font-size:1.3em; 
    font-family:"Ubuntu Light","Ubuntu","Ubuntu Mono","Segoe Print","Segoe UI";
    color:rgb(243, 3, 15); 
    border:solid 1px #ccc; 
    
}
.textareacss:focus
{
    outline: none !important;
    border-color: #ff062f;
    box-shadow: 0 0 10px #fceb01;
}