
    .center {
      margin: auto;
      width: 60%;
      padding: 10px;
    }
    .btnSpace
    {
      margin:10p;
    }
    .totalCss
    {
  
      text-decoration-color: blueviolet;
    
    }
    .btnst
    {
      margin:10px
    }
