
<div class="container">
    <div class="row">
      <div class="col-md-8 m-auto">
          <div class = "center">
            <button class="btn btn-primary" type="submit" (click)="postcomment()"> POST & COMMENTS</button>
<p>Total Data {{x}} </p>
<div>
<input type="text"  [(ngModel)]="currentTodo"/>
<input *ngIf="!isEdit"  class="btn btn-primary" type="button" value="Add" (click)="addTodo()"/>
<input *ngIf="isEdit" class="btn btn-primary" type="button" value="Edit" (click)="updateTodo()"/>

<ul *ngFor= "let todo of todos;let i = index">
    <li>{{todo}}
    <form class="col-md-12">
    
        <input type="checkbox"  value ="text"> 
        
        <input type="button" value="Edit"  class ="btnSpace" class="btn btn-primary" (click)="editTodo(i)"/>
    
        <input type="button" value="Delete" class="btn btn-primary" (click)="deleteTodo(i)" /> 
</form>    
</li>
</ul>
</div>
</div>
</div>
</div>
