<div class="container">
    <div class="row">
      <div class="col-md-8 m-auto">
        <h1 class="display-4 text-center">Log In</h1>
        <p class="lead text-center">TODO account</p>
        <form [formGroup]="dataForm">
            <div class="form-group">
              
              <!-- <input type="email" class="form-control" formControlName="primaryEmail" placeholder="Email*" /> -->
              <input [class.is-invalid]="primEmail.invalid && primEmail.touched" type="email" class="form-control"
              formControlName="primaryEmail" placeholder="Email*"/>
        
            <div *ngIf="(primEmail.invalid && primEmail.touched) || primEmail.dirty">
              <small *ngIf="primEmail.errors?.required" class="text-danger">Primary email is required</small>
              <!--question mark(?) is a safe navigation operator-->
              <small *ngIf="primEmail.errors?.pattern" class="text-danger">Please provide a valid email address</small>
            </div> 
          </div>
          
          
          <div class="form-group">
            <input type="password" id = "password" class="form-control"  placeholder="Password*"  />
            </div>
            <p style="color:red;" id = "Error"></p>
            <div class="form-group">
              <button class="btn btn-primary" id = "btbutton"type="submit" (click)="login()">LOGIN</button>
              <!-- [disabled]="(primaryEmail.value.length === 0 || password.value.length === 0)"   -->
          </div>
         </form>
        </div>
      </div>
    </div>
