Welcome,   {{userID}}
<br /><br />
<div class = "container">
<br />
<h1 style="font-size: bold; font-weight: bold">   Comments Section: </h1>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div>All COMMENTS:</div>
<div *ngFor="let comment of getCommentList()" class = "w3-panel w3-leftbar w3-border-blue w3-pale-blue">
 <ul> 
  <p> Comment By: {{ userID }} </p>

  <li><p class = "buttonSize">{{ comment}}</p></li>
</ul>
</div>  
<form action="/form/submit" method="GET">
  <textarea [(ngModel)]="commentfield"rows="5" cols="60" name="text" class = "textareacss" placeholder="Enter Comments"></textarea>
  <br/><br />
  <input type="submit" class="btn btn-info" value="COMMENT" (click) = "addComments()" />
</form>
<br/><br/>
</div>

<div *ngFor="let user of commentprint; index as i">

    <br>
   <div class="w3-panel w3-leftbar w3-border-blue w3-pale-blue">
    <p class="buttonSize">{{user}} </p>
  </div>	
</div>
