.buttonSize { 
    padding: 20px 15px;
    } 

    .textareacss
    {
        border:0; 
        padding:10px; 
        font-size:1.3em; 
        font-family:"Ubuntu Light","Ubuntu","Ubuntu Mono","Segoe Print","Segoe UI";
        color:rgba(3, 0, 15, 0.808); 
        border:solid 1px rgb(248, 224, 3); 
        border:none 
        
    }